* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: auto; }

.cate-guide {
  width: 100%;
  height: 0.66rem;
  background: #EEEEEE;
  line-height: .66rem;
  padding: 0 .24rem; }
  .cate-guide img {
    width: 0.12rem;
    height: 0.2rem; }
  .cate-guide i {
    font-style: normal; }

.cate-snav {
  width: 100%;
  height: auto;
  padding: .2rem .24rem; }
  .cate-snav li {
    width: 100%;
    height: 0.64rem;
    box-shadow: 0 .01rem .03rem #e1e1e1;
    margin-bottom: .2rem;
    padding: 0 .24rem;
    color: #333333; }
    .cate-snav li .left {
      width: 0.25rem;
      height: 100%;
      display: flex;
      align-items: center;
      float: left; }
      .cate-snav li .left span {
        width: 0.15rem;
        height: 0.15rem;
        display: block;
        background: #000000;
        border-radius: 50%; }
    .cate-snav li .midd {
      width: auto;
      height: 100%;
      line-height: .64rem;
      float: left; }
    .cate-snav li .righ {
      width: 0.18rem;
      height: 100%;
      display: flex;
      align-items: center;
      float: right; }
      .cate-snav li .righ img {
        width: 0.18rem;
        height: 0.32rem; }

.downest {
  position: absolute;
  left: 0;
  bottom: 0; }
